/* Global styles */

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
input {
  font-family: inherit;
}

address {
  font-style: normal;
}
li {
  list-style-type: none;
}

h1,
h2,
h3,
p,
ul,
span {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
  color: currentColor;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
section {
  padding: 0;
}

/* Header */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desktop */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

header {
  padding: 16px 0;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

header .container {
  display: flex;
}

.logo-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-dark {
  color: #2e2f42;
}

.header-logo {
  margin-right: auto;
}

.header-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.burger-menu {
  fill: #2f2f37;
}

/* Navigation */

.navigation {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.navigation-list {
  display: none;
}

.address {
  display: none;
}

/* Media header */
/* 1st breaking point */
@media screen and (min-width: 768px) {
  .header-menu-button {
    display: none;
  }

  .header-logo {
    margin-right: 120px;
  }

  header .container {
    /* padding: 24px 15px; */
    justify-content: space-between;
    align-items: center;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .navigation-list-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .navigation-list-link.current {
    color: #404bbf;
  }

  .navigation-list-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .navigation-list-link:not(.current):hover,
  .navigation-list-link:not(.current):focus {
    color: #404bbf;
  }

  .address {
    display: inline-block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-list-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-list-link:hover,
  .address-list-link:focus {
    color: #404bbf;
  }
}

/* 2nd breaking point */
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  /* Address */
  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .address-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* Hero section */
.hero-section {
  background-color: #2e2f42;
  min-width: 320px;
  padding: 72px 0;
  background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/hero_images/hero-image-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

@media (min-resolution: 192dpi) and (max-width: 767px) {
  .hero-section {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero_images/hero-image-mob@2x.jpg);
  }
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: white;
  text-transform: capitalize;
  text-align: center;
}
.hero-title-cont {
  max-width: 216px;
}

.hero-button {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Media hero */
@media screen and (min-width: 768px) {
  .hero-section {
    padding: 112px 0;
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero_images/hero-image-tablet.jpg);
  }
  .hero-title {
    line-height: 1.07143;
    font-size: 56px;
  }
  .hero-section .container {
    gap: 36px;
  }

  .hero-title-cont {
    max-width: 496px;
  }
}
@media (min-resolution: 192dpi) and (max-width: 1158px) {
  .hero-section {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero_images/hero-image-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero_images/hero-image.jpg);
  }

  .hero-section .container {
    gap: 48px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero-section {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero_images/hero-image@2x.jpg);
  }
}

/* Advantages */

.our-advantages-section {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
}

.advantages-list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-content: center;
  /* flex-basis: 288px; */
}

.advantages-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.advantages-svg-container {
  display: none;
}

.advantages-list-item-title {
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
}

.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Media advanteges */

/* 1st breaking point */
@media screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-start;
    row-gap: 72px;
  }

  .advantages-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .advantages-container {
    align-items: flex-start;
  }
  .advantages-list-item-title {
    text-align: left;
  }
}

/* 2nd breaking point */
@media screen and (min-width: 1158px) {
  .advantages-list {
    flex-wrap: nowrap;
  }

  .advantages-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .advantages-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
  }

  .advantages-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .advantages-text {
    font-weight: 400;
  }

  .our-advantages-section {
    padding: 120px 0;
  }
}

/* Our team */

.team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;

  max-width: 552px;
  margin: 0 auto;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  overflow: hidden;
}

.employee-foto {
  width: 288px;
  height: 280px;
}

.employee-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.employee-svg-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.employee-svg-link:hover,
.employee-svg-link:focus {
  background-color: #404bbf;
}

.team-svg {
  fill: #f4f4fd;
}

.employee-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 8px;
  padding: 32px 16px;
}

.employee-svg-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* Media team section */
/* 1st breaking point */
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;

    max-width: 552px;
  }

  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
    /* max-width: 264px; */
  }
}

/* 2nd breaking point */
@media screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }

  .team-list {
    gap: 24px;
    max-width: 100%;
  }

  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

/* Our portfolio */

.portfolio-section {
  padding: 96px 0;
}

.portfolio-foto {
  width: 100%;
  object-fit: cover;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}

.portfolio-list-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-list-item {
  position: relative;
  flex-basis: 100%;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.app-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-branch {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.overlay-item {
  position: relative;
  overflow: hidden;
}

.overlay p {
  font-weight: 400;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}

.overlay {
  background-color: #4d5ae5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .overlay,
.portfolio-list-item:focus .overlay {
  transform: translateY(0);
}

/* Media portfolio */

/* 1st breaking point */
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

/* 2nd breaking point */
@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding: 120px 0;
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
    padding-left: 0;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item:hover,
  .portfolio-list-item:focus {
    box-shadow:
      0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

/* Footer */

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
  gap: 72px;
}

.footer .container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer .container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer .container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .container4 {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo {
  display: block;
  margin: 0 auto;
}

.footer {
  background-color: #2e2f42;
}

.logo-white {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-svg-list {
  display: flex;
  gap: 16px;
}

.footer-svg {
  fill: #f4f4fd;
}

.footer-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-text2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: white;
  margin-bottom: 16px;
}

.form-button {
  display: flex;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  height: 40px;
  width: 165px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-radius: 4px;
}

.form-button:hover,
.form-button:focus {
  background-color: #31d0aa;
}

.email-footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.form-button svg {
  fill: #f4f4fd;
}

.footer-input {
  border: 1px solid white;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2e2f42;
  padding: 8px 0;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: white;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
  border-color: #31d0aa;
}

.email-label {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: white;
}

/* 1st breaking point */
@media screen and (min-width: 768px) {
  .footer .container {
    max-width: 552px;
    margin: 0 auto;
  }

  .footer .container1 {
    align-items: flex-start;
  }

  .footer .container2 {
    align-items: flex-start;
  }

  .footer .container3 {
    align-items: flex-start;
  }

  .footer .container4 {
    flex-direction: row;
    gap: 24px;
  }

  .email-footer-form {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
  }

  .footer-logo {
    margin: 0;
  }
}

/* 2nd breaking point */
@media screen and (min-width: 1158px) {
  footer {
    padding: 100px;
  }
  .footer .container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    max-width: 1158px;
  }

  .footer .container1 {
    margin-right: 120px;
  }
  .footer .container2 {
    margin-right: auto;
  }

  .footer .container4 {
    align-items: flex-start;
  }
}

/* Modal-overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  width: 288px;
  height: 623px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-form .input-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 256px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form legend {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.dagger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-bottom: 24px;
}

.dagger-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dagger-button:hover .dagger-svg,
.dagger-button:focus .dagger-svg {
  fill: #ffffff;
}

.dagger-button:hover,
.dagger-button:focus {
  background-color: #404bbf;
}

.input-container input {
  border: none;
}
.input-container {
  display: block;
  position: relative;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  width: 256px;
  /* width: 360px; */
  cursor: pointer;
  transition:
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-container input {
  width: 100%;
  height: 100%;
  padding-left: 38px;
  caret-color: #2e2f42;
}

.input-container:focus-within {
  border-color: #4d5ae5;
}

.input-container:focus-within .form-svg {
  fill: #4d5ae5;
}

.form-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.input-container:focus-within input {
  outline: none;
}

.label-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-form legend {
  margin-bottom: 16px;
}

textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding-top: 8px;
  padding-left: 16px;
  outline: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:focus {
  border-color: #4d5ae5;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  position: relative;
  cursor: pointer;
  margin-top: 16px;
}

.checkbox-label input[type="checkbox"] {
  position: absolute;
  z-index: 2;
  opacity: 0;
  width: 16px;
  height: 16px;
  left: 12px;
  cursor: pointer;
}

.checkbox-text {
  display: inline-block;
}

.checkmark {
  display: flex;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  opacity: 1;
  margin-right: 8px;
  pointer-events: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkmark svg {
  opacity: 0;
  fill: #f4f4fd;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label input[type="checkbox"]:checked + .checkmark {
  background-color: #404bbf;
}

.checkbox-label input[type="checkbox"]:checked + .checkmark svg {
  opacity: 1;
}

.button-container {
  display: flex;
  width: 100%;

  justify-content: center;
}

.modal-send-button {
  border-radius: 4px;
  background-color: #4d5ae5;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-top: 24px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.checkbox-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  text-decoration: underline;
  margin-left: 4px;
}

.modal-send-button:active,
.modal-send-button:hover,
.modal-send-button:focus {
  background-color: #404bbf;
}

/* Media overlay */
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    height: 584px;
    padding: 24px;
  }
  .modal-form .input-label {
    width: 360px;
  }
  .input-container {
    width: 360px;
  }
}

/* Menu overlay */
.menu-modal-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  padding: 24px 24px 40px 16px;
}

@media (max-width: 767px) {
  .menu-modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
  }
  .menu-modal-form .input-label {
    width: 361px;
  }
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-bottom: 24px;
  align-self: flex-end;
}

.menu-dagger-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover .menu-dagger-svg,
.menu-button:focus .menu-dagger-svg {
  fill: #ffffff;
}

.menu-button:hover,
.menu-button:focus {
  background-color: #404bbf;
}

/* Menu-navigation */

.menu-navigation {
  margin-bottom: auto;
}

.overlay-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.overlay-navigation-list-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.static {
  color: #404bbf;
}

/* Address */
.overlay-address-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  gap: 24px;
}

.overlay-address-list-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.static-address {
  color: #404bbf;
}

/* Social-links */
.menu-svg-list {
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
}

.menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
}

/* Media CSS */
